<html>
   
<head>
  <title>404 error</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./img/weather.jpg">
</head>
<body>
  <div class="main-content">
  {{>header}}
    
    <p>{{message}}</p>
    </div>
    {{>footer}}
</body>

</html>