<html>
   
<head>
    <title>About me</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./img/weather.jpg">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <img class="portrait" src="./img/about.jpg">
    </div>
    {{>footer}}
</body>

</html>